<ion-header *ngIf="dynamicTree?.title">
	<ion-toolbar>
		<ion-buttons start >
			<button ion-button menuToggle color="primary">
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>

		<ion-title>{{dynamicTree?.title}}</ion-title>

		<ion-buttons end *ngIf="userInfo">
			<button class="badge-background" ion-button icon-only color="secondary" (click)="onClickAdd()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content no-padding class="background-page gradient">

	<ion-grid>
		<ion-row>
			<ion-col class="background-card gradient grid-border" text-center 
			col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6
			*ngFor="let it of dynamicTree?.items" class="padding-col">

					<ion-row *ngIf="it">
						<ion-col class="background-card gradient card-background-page">
							<div class="image-height" [style.background-image]="'url('+it.medias[0]?.image+')'"></div>
							<div class="image-title">{{it.title}}</div>
							<div class="image-subtitle">{{it.note | date:it.pipe_date}}</div>
						</ion-col>
					</ion-row>

			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>