<ion-header>
  <ion-navbar>
    <ion-title>
      SPEED TEST
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-24 col-xl-6 col-lg-6 col-md-12 col-sm-12>
        <ion-card class="card-meter">
          <div class="graphArea">
            <div class="graphName">{{objMeter?.graphName}}</div>
            <canvas class="meter" id="dlMeter"></canvas>
            <div class="meterText" id="dlText"></div>
            <div class="unit">{{objMeter?.unit}}</div>
          </div>
          <ion-item>
            <ion-label>Server: </ion-label>
            <ion-select [(ngModel)]="server" okText="OK" cancelText="Cancel" [selectOptions]="selectOptions">
              <ion-option *ngFor="let server of serverList" [value]="server">{{server?.NAME}}</ion-option>
            </ion-select>
          </ion-item>
          <p>Your IP: {{objISP?.processedString}}</p>
          <div id="startStopBtn" (click)="startStop()"></div>
        </ion-card>
      </ion-col>
      <ion-col col-24 col-xl-18 col-lg-18 *ngIf="results.length > 0">
        <ion-card class="card-meter" >
          <div id="resultBtn" (click) = "shareResults()"></div>
          <ion-grid>
            <ion-row>
              <ion-col col-1>
                Id
              </ion-col>
              <ion-col col-3>
                Time
              </ion-col>
              <ion-col col-4>
                IP
              </ion-col>
              <ion-col col-4>
                Server
              </ion-col>
              <ion-col col-3>
                Jitter
              </ion-col>
              <ion-col col-3>
                Ping
              </ion-col>
              <ion-col col-3>
                DL
              </ion-col>
              <ion-col col-3>
                UL
              </ion-col>
            </ion-row>
      
            <ion-row *ngFor="let result of results">
                <ion-col col-1>
                  {{result?.id}}
                </ion-col>
                <ion-col col-3>
                    {{result?.time}}
                </ion-col>
                <ion-col col-4>
                    {{result?.ip}}
                </ion-col>
                <ion-col col-4>
                    {{result?.server}}
                </ion-col>
                <ion-col col-3>
                    {{result?.jitter}}
                </ion-col>
                <ion-col col-3>
                    {{result?.ping}}
                </ion-col>
                <ion-col col-3>
                    {{result?.download}}
                </ion-col>
                <ion-col col-3>
                    {{result?.upload}}
                </ion-col>
              </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>