<ion-header>
  <ion-navbar>
      <ion-buttons start *ngIf="!isSearch && chatManager?.search_bar">
          <button ion-button icon-only color="primary" (click)="goSearch()">
              <ion-icon name="search"></ion-icon>
          </button>
      </ion-buttons>

      <ion-searchbar start *ngIf="isSearch && chatManager?.search_bar" placeholder="{{chatManager?.search_bar.hint}}" [(ngModel)]="searchString"
      [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (keyup.enter)="searchEnter()"
      (keyup.esc)="searchEnter()">
      </ion-searchbar>
      
      <ion-title *ngIf="!isSearch">{{chatManager?.title}}</ion-title>

      <ion-buttons end *ngFor="let btn of chatManager?.buttons">
          <button *ngIf="!isSearch" class="badge-background" ion-button icon-only color="{{btn.color}}" (click)="onClickHeader(btn)">
              <ion-icon name="{{btn.icon}}"></ion-icon>
              <ion-badge class="badge-alert" color="danger" *ngIf="btn.alerts">{{ (btn.alerts?.length>99?'99+':btn.alerts?.length) }}</ion-badge>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
    <ion-list class="background-list">
        <ion-item class="background-item" *ngFor="let r of rooms" tappable (click)="onClickItem(r)">
            <ion-avatar item-start>
                <img [src]="r.image">
            </ion-avatar>
            <ion-title>{{r.name}}</ion-title>
            <p>{{r.messages[r.messages.length-1]?.text}}</p>
            <ion-note item-end>{{r.messages[r.messages.length-1]?.created | timeAgo}}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>
