<ion-header>
  <ion-toolbar>
    <ion-buttons start *ngIf="!isSearch && header?.search_bar">
      <button ion-button icon-only color="primary" (click)="goSearch()">
          <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-searchbar start *ngIf="isSearch && header?.search_bar" placeholder="{{header.search_bar.hint}}" [(ngModel)]="header.search_bar.search_string"
    [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (keyup.enter)="searchEnter()"
    (keyup.esc)="searchEnter()">
    </ion-searchbar>
    
    <ion-title *ngIf="!isSearch">{{header?.title}} - {{(isLocOK?'ON':'OFF')}}</ion-title>

    <ion-buttons end *ngFor="let btn of header?.buttons">
        <button *ngIf="!isSearch" class="badge-background" ion-button icon-only color="{{btn.color}}" (click)="onClickAction(btn)">
            <ion-icon name="{{btn.icon}}"></ion-icon>
            <ion-badge class="badge-alert" color="danger" *ngIf="btn.alerts">{{ (btn.alerts?.length>99?'99+':btn.alerts?.length) }}</ion-badge>
        </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <!--cac object sau se hien thi len truoc-->
  <ion-icon name="pin" [ngClass]="className" *ngIf="isShowCenter"></ion-icon>
  
  <!--nut trung tam de lua chon vi tri-->
  <ion-fab *ngIf="commands.dynamic" [attr.middle]="commands.dynamic.middle" [attr.center]="commands.dynamic.center" [attr.left]="commands.dynamic.left" [attr.right]="commands.dynamic.right" [attr.bottom]="commands.dynamic.bottom" [attr.top]="commands.dynamic.top" auto-close-on-click-outside>
    <button ion-fab [attr.mini]="commands.dynamic.mini" color="{{commands.dynamic.controler.color}}">
      <ion-icon name="{{commands.dynamic.controler.icon}}"></ion-icon>
    </button>
    <ion-fab-list *ngFor="let direct of commands.dynamic.directions" attr.side="{{direct.side}}">
      <button *ngFor="let btn of direct.actions" color="{{btn.color}}" ion-fab (click)="onClickAction(btn)">
        <ion-icon *ngIf="btn.icon" name="{{btn.icon}}"></ion-icon>
        <span *ngIf="btn.name">{{btn.name}}</span>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab *ngIf="commands.fix" [attr.middle]="commands?.fix?.middle" [attr.center]="commands?.fix?.center" [attr.left]="commands?.fix?.left" [attr.right]="commands?.fix?.right" [attr.bottom]="commands?.fix?.bottom" [attr.top]="commands?.fix?.top">
    <button *ngFor="let btn of commands.fix.actions" [attr.mini]="commands?.fix?.mini" ion-fab color="{{btn.color}}" (click)="onClickAction(btn)">
        <ion-icon *ngIf="btn.icon" name="{{btn.icon}}"></ion-icon>
        <span *ngIf="btn.name">{{btn.name}}</span>
    </button>
  </ion-fab>

</ion-content>
